In [26]:
entries = ['I', 'am', 'am', 'and']
if entries[1:].count('and') > 0:
    end = entries[1:].index('and')
    print(end)
    term = " ".join(entries[1:end+1])
print(term)

2
am am

In [49]:
import pandas as pd

df = pd.read_csv("data.csv")
df

   ID          Name  Income        Describe
0   1    Jason Yang    1000  I contain Prod
1   2  Caroline Wei     145  I contian Nope
2   3     Peter Zhu     200  I contain Nope
3   4    Sherley Li  5896hi  I contain Prod

In [96]:
new_df = df.astype(str)
new_df

  ID          Name  Income        Describe
0  1    Jason Yang    1000  I contain Prod
1  2  Caroline Wei     145  I contian Nope
2  3     Peter Zhu     200  I contain Nope
3  4    Sherley Li  5896hi  I contain Prod

In [97]:
# new_df = new_df[new_df['Describe'].str.contains("I contain Prod", case=True, regex=True)]
test = new_df[new_df['Describe'].str.contains('Prod', case=True)]
test

  ID        Name  Income        Describe
0  1  Jason Yang    1000  I contain Prod
3  4  Sherley Li  5896hi  I contain Prod

In [98]:
res_df = pd.DataFrame(columns = columns)
test2 = res_df.append(new_df)
test2

  ID          Name  Income        Describe
0  1    Jason Yang    1000  I contain Prod
1  2  Caroline Wei     145  I contian Nope
2  3     Peter Zhu     200  I contain Nope
3  4    Sherley Li  5896hi  I contain Prod

In [94]:
test2.drop_duplicates(keep='first',inplace=True)
test2

  ID          Name  Income        Describe
0  1    Jason Yang    1000  I contain Prod
3  4    Sherley Li  5896hi  I contain Prod
1  2  Caroline Wei     145  I contian Nope
2  3     Peter Zhu     200  I contain Nope

In [84]:
for (columnName, _) in df.iteritems():
    print(columnName)

ID
Name
Income
Describe